(
  selected_tab: Some("#fabd2f"),
  command_fg: Some("#ebdbb2"),
  selection_bg: Some("#3c3836"),
  selection_fg: Some("#ebdbb2"),
  disabled_fg: Some("#7c6f64"),
  diff_line_add: Some("#98971a"),
  diff_line_delete: Some("#cc241d"),
  diff_file_added: Some("#b8bb26"),
  diff_file_removed: Some("#fb4934"),
  diff_file_moved: Some("#83a598"),
  diff_file_modified: Some("#fe8019"),
  commit_hash: Some("#d3869b"),
  commit_time: Some("#83a598"),
  commit_author: Some("#b8bb26"),
  danger_fg: Some("#fb4934"),
  push_gauge_bg: Some("#504945"),
  push_gauge_fg: Some("#b8bb26"),
  tag_fg: Some("#d79921"),
  branch_fg: Some("#fe8019"),
  stash_fg: Some("#83a598"),
)